<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>There were 10 assignments assigned in Python this semester:</p>
    <p>Homework 1A: </p>
    <p>The first assignment was conceptual and introduced us to binary numbers
    and algorithms in pseudocode</p>
    <p> <p>
    <p>Homework 1B:</p>
    <p>This was our first coding assignment. We wrote our first program. The
    second part of the assignment was writing functions to learn
    how to work with lists.</p>
    <p> <p>
    <p>Homework 2A: </p>
    <p>This was a concenptual assignment. It acclimated us to 
    sort functions. </p>
    <p> <p>
    <p>Homework 2B:</p>
    <p>This was a programming assignment on physics simulations. The
    second part of this homework was the beginning of our machine learning
    program, getting us comfortable with dictionaries. </p>
    <p> <p>
    <p>Homework 3A:</p>
    <p>This was a conceptual assignment. The first question was about sets 
    in python. The second question was about recursive functions.</p>
    <p> <p>
    <p>Homework 3B: </p>
    <p>The first question was a percolation problem where we had to use
    the numpy library. The second question was our machine learning program
    and we had to use numpy. </p>
    <p> <p>
    <p>Homework 4:</p>
    <p>This was an assignment on object oriented programming. </p>
    <p> <p>
    <p>Midterm</p>
    <p>The midterm assignment required us to write functions that opened
    and editted ppm files.</p>
    <p> <p>
    <p>Homework 5:</p>
    <p>This was the last assignment on our machine learning program. We used 
    libraries like scikit-learn, pandas and seaborn for advanced stats and 
    models of our dataset </p>
    <p> <p>
    <p>Final</p>
    <p>The final assignment required us to use flask to make a website.</p>
    <p> <p>
    <p>My favorite assignment was probably the final assignment.
    Besides the fact that I was able to work on it stress-free because of an 
    extension and also because I completed the work for all my other classes,
    it was fun creating a website and using Flask and git, which I have 
    never done before.<p>
       
    </body>
</html>
