
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>The classes I took this semester are:</p>
    <p>Quantitative Analysis (analytical chemistry)</p>
    <p>Quantitative Analysis Lab</p>
    <p>Physics: E&M and Lab</p>
    <p>Python</p>
    
    <p>My favorite class at Barnard so far is The Social World with Theresa Sharpe.
    It was my first sociology class and I enjoyed the subject material.
    Professor Sharpe was a great lecturer and engaged with the class.
    The readings were interesting and related to current issues. 
    I liked the set-up of the course and how it required a discussion session where the TA would review the lecture materials.</p>    
    </body>
</html>